@font-face {
  font-family: 'limelight';
  src: url('assets/archive/fonts/Limelight.ttf') format('truetype');
}

@font-face {
  font-family: 'caveat';
  src: url('assets/archive/fonts/Caveat.ttf') format('truetype');
}

@font-face {
  font-family: 'coiny';
  src: url('assets/archive/fonts/Coiny.ttf') format('truetype');
}

@font-face {
  font-family: 'sekuya';
  src: url('assets/archive/fonts/Sekuya.ttf') format('truetype');
}

@font-face {
  font-family: 'dyna';
  src: url('assets/archive/fonts/Dynapuff.ttf') format('truetype');
}

@font-face {
  font-family: 'josefin';
  src: url('assets/archive/fonts/Josefin.ttf') format('truetype');
}

@font-face {
  font-family: 'josefin2';
  src: url('assets/archive/fonts/Josefin2.ttf') format('truetype');
}

@font-face {
  font-family: 'bruno';
  src: url('assets/archive/fonts/Bruno.ttf') format('truetype');
}